body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;

}
h1 {
    color: #333;
    text-align: center;

}
.main-div {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.styled-table {
    border-collapse: collapse;
    margin: 0px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #FCC000;
    color: #000000;
    text-align: left;
}
.styled-table th,
.styled-table td {
    text-align: left;
    padding: 12px 15px;
}  
.styled-table .td-center {
    text-align: center;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #FCC000;
}  